<div class="content-sections">
    <div class="content-sections-heading">Change Log</div>
    <div class="content-sections-body">
        <ul>
            <li><p>Updated Announcements</p></li>
            <li><p>Updated About Page</p></li>
            <li><p>Updated Alliances</p></li>
            <li><p>Moved Resources into a sidebar</p></li>
            <li><p>Reduced the size of the main welcome box</p></li>
            <li><p>Updated logo formatting</p></li>
        </ul>
    </div>
</div>

