@model IEnumerable<DragonsBlood.Models.PublicProfile>
@{
    ViewBag.Title = "Members";
}
<div class="content-sections">

    <div class="content-sections-heading">Members</div>
    <div class="content-sections-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Level)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>