@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error - Something went wrong";
    Layout = "~/Views/Shared/_LayoutNoChat.cshtml";
}

<div class="page-content">
    <h1 class="text-danger">Whoops!</h1>
    <h2 class="text-warning">Something went wrong, please try again. </h2>
    <h3 class="text-warning">If the problem persists please report this through the feedback option.</h3>
</div>
